.lw-topToolBarBigScreen {
    width: 100%;
    height: 5rem;
    align-items: center;
    flex-direction: row;
    background-color: var(--lw-color-white);
}

.lw-topToolBarBigScreen__title {
    margin-inline-end: 1.75rem;
}