@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.lw-publicSigningScreen__container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
}

.lw-publicSigningScreen__stack {
    width: 100%;
    flex-direction: column;
    gap: 0.75rem;
}