.lw-tagCasePopup {
    width: 100%;
    margin: 0 auto;
}

.lw-tagCasePopup__row {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.lw-tagCasePopup__input {
    flex: 1;
    min-width: 9.375rem;
    margin: 0.5rem 0.25rem;
}

.lw-tagCasePopup__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.lw-tagCasePopup__actionButton {
    margin: 0.5rem;
}