@use '../../styles/variables' as v;

.lw-pricingCalculatorCard {
    display: flex;
    flex-direction: column;
    gap: v.$space-3;
}

.lw-pricingCalculatorCard__subtitle {
    opacity: 0.9;
}

.lw-pricingCalculatorCard__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: v.$space-3;
}

.lw-pricingCalculatorCard__field {
    display: flex;
    flex-direction: column;
    gap: v.$space-2;
}

.lw-pricingCalculatorCard__systemCard {
    flex-direction: column;
    gap: v.$space-2;
}

.lw-pricingCalculatorCard__systemLine {
    margin: 0;
}

.lw-pricingCalculatorCard__label {
    opacity: 0.9;
}

.lw-pricingCalculatorCard__systemRow {
    width: 100%;
    justify-content: flex-start;
    gap: v.$space-2;
    align-items: center;
}

.lw-pricingCalculatorCard__systemAmount {
    white-space: nowrap;
}

.lw-pricingCalculatorCard__optionButtons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: v.$space-2;
}

.lw-pricingCalculatorCard__optionButton {
    width: 100%;
    height: 100%;
    min-height: 3.25rem;
}

.lw-pricingCalculatorCard__description {
    opacity: 0.9;
}

.lw-pricingCalculatorCard__detailsList {
    margin: 0;
    padding-inline-start: v.$space-4;
}

.lw-pricingCalculatorCard__detailLine {
    opacity: 0.9;
}

.lw-pricingCalculatorCard__bullets {
    margin: 0;
    padding-inline-start: v.$space-4;
}

.lw-pricingCalculatorCard__bullets li {
    margin: v.$space-1 0;
}

.lw-pricingCalculatorCard__divider {
    --lw-separator-margin-block: #{v.$space-3};
}

.lw-pricingCalculatorCard__summaryCard {
    flex-direction: column;
    gap: v.$space-2;
}

.lw-pricingCalculatorCard__totalRow {
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    gap: v.$space-3;
}

.lw-pricingCalculatorCard__totalLabel {
    opacity: 0.9;
}

.lw-pricingCalculatorCard__totalAmount {
    white-space: nowrap;
}

.lw-pricingCalculatorCard__breakdown {
    width: 100%;
    flex-direction: column;
    padding: 0;
}

.lw-pricingCalculatorCard__breakRow {
    width: 100%;
    justify-content: space-between;
    gap: v.$space-3;
    align-items: center;
}

.lw-pricingCalculatorCard__breakLabel {
    opacity: 0.95;
}

.lw-pricingCalculatorCard__breakAmount {
    white-space: nowrap;
}

.lw-pricingCalculatorCard__breakSep {
    --lw-separator-margin-block: #{v.$space-2};
}

@media (min-width: 900px) {
    .lw-pricingCalculatorCard__optionButtons {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: v.$space-2;
    }
}

@media (min-width: 1100px) {
    .lw-pricingCalculatorCard__optionButtons {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}