@use '../../../styles/mixins' as m;
@use '../../../styles/variables' as v;

.lw-clientsCard {
    flex-direction: column;
}

.lw-clientsCard__headerRow {
    @include m.row(v.$space-2, nowrap, center);
}

.lw-clientsCard__headerCell {
    flex: 1;
    text-align: start;
    min-inline-size: 0;
}

.lw-clientsCard__list {
    flex: 1;
}

.lw-clientsCard__listItem {
    flex-direction: column;
}

.lw-clientsCard>.lw-textButtonWithTwoOptionalIcons {
    align-self: center;
    margin-top: 1.25rem;
    min-block-size: 2.75rem;
}

.lw-clientsCard__buttonsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 1.25rem;
}

.lw-clientsCard__empty {}

.lw-clientsCard__emptyImage {
    height: 9.75rem;
}

@media (max-width: v.$bp-md) {
    .lw-clientsCard__headerCell--email {
        display: none;
    }
}