.lw-clientPopup {
    width: 100%;
    margin: 0 auto;
}

.lw-clientPopup__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.lw-clientPopup__input {
    flex: 1;
    min-width: 9.375rem;
}

.lw-clientPopup__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.lw-clientPopup__actionButton {
    margin: 0.5rem;
}