@use '../../../styles/mixins' as m;
@use '../../../styles/variables' as v;

.lw-clientsCard {
    flex-direction: column;
}

.lw-clientsCard__headerRow {
    @include m.row(v.$space-2, nowrap, center);
}

.lw-clientsCard__headerCell {
    flex: 1;
    text-align: start;
    min-inline-size: 0;
}

.lw-clientsCard__list {
    flex: 1;
}

.lw-clientsCard__listItem {
    flex-direction: column;
}

.lw-clientsCard__addButton {
    align-self: center;
    margin-top: 1.25rem;
}

.lw-clientsCard__empty {
    width: 100%;
}

.lw-clientsCard__emptyImage {
    height: 9.75rem;
}