.lw-clientPopup {
    width: 100%;
    margin: 0 auto;
}

.lw-clientPopup__row {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.lw-clientPopup__input {
    flex: 1;
    min-width: 150px;
}

.lw-clientPopup__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px 0;
    flex-wrap: wrap;
}

.lw-clientPopup__actionButton {
    margin: 8px;
}