@use '../../../styles/mixins' as m;
@use '../../../styles/variables' as v;

.lw-clientPopup {
    width: 100%;
    margin: 0 auto;
}

.lw-clientPopup__row {
    @include m.row(v.$space-3, wrap);
    margin-block-end: v.$space-4;
}

.lw-clientPopup__input {
    flex: 1;
    flex: 1 1 9.375rem;
    min-inline-size: 0;
}

.lw-clientPopup__actions {
    @include m.row(v.$space-2, wrap, center, center);
    justify-content: center;
    margin-block: v.$space-4;
}

.lw-clientPopup__actions .lw-textButtonWithTwoOptionalIcons {
    min-block-size: 2.75rem;
    flex: 1 1 12rem;
}

@media (max-width: v.$bp-narrow) {
    .lw-clientPopup__input {
        flex-basis: 100%;
    }

    .lw-clientPopup__actions .lw-textButtonWithTwoOptionalIcons {
        width: 100%;
        flex-basis: 100%;
    }
}
