@use '../../../styles/mixins' as m;
@use '../../../styles/variables' as v;

.lw-errorPopup.lw-statusNotice {
    flex-direction: row;
    align-items: flex-start;
    inline-size: 100%;
}

.lw-errorPopup .lw-statusNotice__body {
    flex-direction: column;
    align-items: stretch;
}

.lw-errorPopup__separator {
    --lw-separator-margin-block: 1.25rem; /* 1.25rem */
}

.lw-errorPopup__message {
    margin-block: 1.25rem; /* 1.25rem */
}

.lw-errorPopup__actions {
    @include m.row(v.$space-2);
    align-self: flex-start;
}
