@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.lw-doughnutChartWithDetails {
  flex-direction: column;
  margin-block-start: v.$space-4;
  align-items: center;
  gap: v.$space-4;
}

.lw-doughnutChartWithDetails__chart {
  flex: 1;
}

.lw-doughnutChartWithDetails__legend {
  flex: 1;
  @include m.row(v.$space-2);
  justify-content: center;
  margin-block-start: v.$space-2;
}

.lw-doughnutChartWithDetails__legendItem {
  @include m.row(v.$space-2, nowrap);
  padding-block: v.$space-1;
  padding-inline: v.$space-2;
  border-radius: 9999px;
  background-color: var(--lw-color-secondary-highlighted);
  border: 0.0625rem solid var(--lw-color-disabled);
}

.lw-doughnutChartWithDetails__swatch {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 9999px;
}
