@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

.lw-evidenceDocuments__scroll {
    width: 100%;
}

.lw-evidenceDocuments__header {
    margin-bottom: v.$space-3;
}

.lw-evidenceDocuments__row {
    @include m.row(v.$space-3, wrap);
    align-items: flex-end;
    margin-block-end: v.$space-3;
}

.lw-evidenceDocuments__search {
    flex: 1 1 18rem;
    min-inline-size: 16rem;
}

.lw-evidenceDocuments__choose {
    min-inline-size: 14rem;
}

.lw-evidenceDocuments__state {
    width: 100%;
    padding: v.$space-4 0;
    text-align: center;
}

.lw-evidenceDocuments__table {
    width: 100%;
    border: 0.0625rem solid var(--lw-color-disabled);
    border-radius: 0.5rem;
    overflow: hidden;
}

.lw-evidenceDocuments__tableRow {
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr 10rem 10rem 12rem;
    border-bottom: 0.0625rem solid var(--lw-color-disabled);
    align-items: center;
}

.lw-evidenceDocuments__tableRow--header {
    background-color: var(--lw-color-secondary-highlighted);
}

.lw-evidenceDocuments__cell {
    padding: 0.75rem;
    font-size: 0.8125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lw-evidenceDocuments__footer {
    margin-block-start: v.$space-3;
    width: 100%;
    justify-content: center;
    text-align: center;
}
