@use '../../../styles/mixins' as m;
@use '../../../styles/variables' as v;

.lw-adminsCard {
    flex-direction: column;
}

.lw-adminsCard--loading {
    flex-direction: column;
}

.lw-adminsCard__headerRow {
    @include m.row(v.$space-2, nowrap, center);
}

.lw-adminsCard__headerCell {
    flex: 1;
    text-align: start;
    min-inline-size: 0;
}

.lw-adminsCard__empty {
    width: 100%;
}

.lw-adminsCard__emptyImage {
    height: 9.75rem;
}