.lw-adminsCard {
    flex-direction: column;
}

.lw-adminsCard--loading {
    flex-direction: column;
}

.lw-adminsCard__headerRow {
    display: flex;
    flex-direction: row;
}

.lw-adminsCard__headerCell {
    flex: 1;
    text-align: start;
    margin: 0 0.375rem;
}

.lw-adminsCard__empty {
    width: 100%;
}

.lw-adminsCard__emptyImage {
    height: 9.75rem;
}