@use '../../../styles/mixins' as m;
@use '../../../styles/variables' as v;

.lw-adminPopup {
    width: 100%;
    margin: 0 auto;
    min-inline-size: 0;
}

.lw-adminPopup__row {
    @include m.row(v.$space-3, wrap);
    margin-block-end: v.$space-4;
    min-inline-size: 0;
}

.lw-adminPopup__input {
    flex: 1 1 14rem;
    min-inline-size: 0;
}

.lw-adminPopup__actions {
    @include m.row(v.$space-2, wrap);
    justify-content: center;
    margin-block: v.$space-4;
    min-inline-size: 0;
}

.lw-adminPopup__actions > .lw-textButtonWithTwoOptionalIcons {
    min-block-size: 2.75rem;
}

.lw-adminPopup__actionButton {
    flex: 1 1 12.5rem;
    max-inline-size: 100%;
}
