@use '../../../styles/mixins' as m;
@use '../../../styles/variables' as v;

.lw-adminPopup {
    width: 100%;
    margin: 0 auto;
}

.lw-adminPopup__row {
    @include m.row;
    margin-block-end: v.$space-4;
}

.lw-adminPopup__input {
    flex: 1;
    min-width: 9.375rem;
}

.lw-adminPopup__actions {
    @include m.row(v.$space-2);
    justify-content: center;
    margin-block: v.$space-4;
}

.lw-adminPopup__actionButton {
}
