.lw-topCenteredLogoOtp {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.lw-topCenteredLogoOtp__cornerLogo {
    position: absolute;
    top: 12px;
    left: 12px;
}

.lw-topCenteredLogoOtp__logoImage {
    width: 3.5rem;
    height: 3.5rem;
}

.lw-topCenteredLogoOtp__title {
    margin-top: 5rem !important;
    text-align: center !important;
    width: 100%;
    align-self: center !important;
}
