@use '../../../styles/mixins' as m;

.lw-topCenteredLogoOtp {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.lw-topCenteredLogoOtp__cornerLogo {}

.lw-topCenteredLogoOtp__logoImage {
    @include m.fluid-size(width, 48, 12vw, 72);
    @include m.fluid-size(height, 48, 12vw, 72);
}

.lw-topCenteredLogoOtp__title {
    margin-top: 5rem !important;
    text-align: center !important;
    width: 100%;
    align-self: center !important;
}