@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.lw-caseFullView {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  min-inline-size: 0;
}

.lw-caseFullView__row {
  width: 100%;
  @include m.row(v.$space-2);
  margin-block-end: v.$space-4;
  min-inline-size: 0;
}

.lw-caseFullView__field {
  flex: 1 1 10rem;
  max-inline-size: 100%;
}

.lw-caseFullView__textAreaRow {
  width: 100%;
  min-inline-size: 0;
  margin-block-start: v.$space-2;
}

.lw-caseFullView__buttonsRow {
  @include m.row(v.$space-2);
  justify-content: center;
  margin-block: v.$space-4;
}