@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.lw-caseFullView {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.lw-caseFullView__row {
  width: 100%;
  @include m.row(v.$space-2);
  margin-block-end: v.$space-4;
  min-width: 0;
}

.lw-caseFullView__field {
  min-width: 0;
  flex: 1;
  align-items: center;
}

.lw-caseFullView__textAreaRow {
  margin-block-start: v.$space-2;
}

.lw-caseFullView__buttonsRow {
  @include m.row(v.$space-2);
  justify-content: center;
  margin-block: v.$space-4;
}
