.lw-caseFullView {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.lw-caseFullView__row {
  width: 100%;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: center;
  gap: 0.5rem;
  min-width: 0;
}

.lw-caseFullView__field {
  min-width: 0;
  flex: 1;
  align-items: center;
}

.lw-caseFullView__textAreaRow {
  margin-top: 0.5rem;
}

.lw-caseFullView__buttonsRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block: 1rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}
