.lw-caseTimeline {
  width: 100%;
  flex-direction: column;
}

.lw-caseTimeline__title {
  width: 100%;
}

.lw-caseTimeline__container {
  flex-direction: row;
  padding-top: 1rem;
  position: relative;
  z-index: 1000;
  margin-inline-end: 0.25rem;
  flex: 1;
}

.lw-caseTimeline__verticalLine {
  position: absolute;
  top: 3.375rem;
  bottom: 2.25rem;
  width: 1px;
  inset-inline-start: 0.45rem;
  background-color: #caf1ee;
  z-index: 1000;
}

.lw-caseTimeline__dotsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1001;
  position: relative;
  flex: 1;
}

.lw-caseTimeline__stage {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.lw-caseTimeline__dotWrap {
  margin-inline-end: -0.25rem;
  display: flex;
  background-color: #f7f8ff;
  border-radius: 0.5rem;
  width: 1rem;
  height: 1rem;
  align-items: center;
  justify-content: center;
}

.lw-caseTimeline__dotWrap--new {
  background-color: #caf1ee;
}

.lw-caseTimeline__dot {
  display: flex;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 0.5rem;
  background-color: var(--lw-color-winter);
}

.lw-caseTimeline__stageDetails {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-inline-end: 0.25rem;
  background-color: transparent;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;
}

.lw-caseTimeline__stageDetails--new {
  background-color: var(--lw-color-pressed);
}

.lw-caseTimeline__timestampBadge {
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.lw-caseTimeline__timestampBadge--new {
  background-color: #caf1ee;
}