@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.lw-caseTypeFullView {
  width: 100%;
  margin-inline: auto;
}

.lw-caseTypeFullView__row {
  @include m.row(v.$space-2);
  margin-block-end: v.$space-4;
}

.lw-caseTypeFullView__inputWrap {
  flex: 1;
  min-width: 9.375rem;
}

.lw-caseTypeFullView__textAreaRow+.lw-caseTypeFullView__textAreaRow {
  margin-block-start: v.$space-2;
}

.lw-caseTypeFullView__buttonsRow {
  @include m.row(v.$space-2);
  justify-content: center;
  margin-block: v.$space-4;
}