@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

.lw-allCasesTypeScreen__row {
    @include m.row(v.$space-3, wrap);
    max-width: 100%;
    margin: 1rem;
}

.lw-allCasesTypeScreen__search {
    flex: 1 1 10rem;
    min-inline-size: 14rem;
    max-inline-size: 31.25rem;
    min-inline-size: 0;
}

.lw-allCasesTypeScreen__row>.lw-chooseButton {
    flex: 1 1 8.5rem;
    min-inline-size: 0;
}

.lw-allCasesTypeScreen__footer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.lw-allCasesTypeScreen__footer>.lw-textButtonWithTwoOptionalIcons {
    margin: 0.5rem 0;
    align-self: center;
    min-block-size: 2.75rem;
}