@use '../../styles/mixins' as m;

.lw-allCasesTypeScreen__row {
    @include m.row;
    max-width: 100%;
}

.lw-allCasesTypeScreen__search {
    flex: 1 1 20rem;
    min-inline-size: 14rem;
    max-inline-size: 31.25rem;
}

.lw-allCasesTypeScreen__choose {
    flex: 0 0 auto;
    min-inline-size: 8.5rem;
}

.lw-allCasesTypeScreen__footer {
    display: flex;
    justify-content: center;
}

.lw-allCasesTypeScreen__addButton {
    margin: 0.5rem 0;
    align-self: center;
}