.lw-allCasesTypeScreen__row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
}

.lw-allCasesTypeScreen__search {
    margin: 12px 0;
    margin-left: 20px;
    max-width: 500px;
}

.lw-allCasesTypeScreen__choose {
    margin: 12px 0;
    flex: 0 1 auto;
    min-width: 100px;
}

.lw-allCasesTypeScreen__footer {
    display: flex;
    justify-content: center;
}

.lw-allCasesTypeScreen__addButton {
    margin: 8px 0;
    align-self: center;
}