@use '../../../styles/variables' as v;

.lw-loginSimpleScreen__content {
    width: 100% !important;
    margin-right: 0 !important;
    padding: 2.75rem 1.25rem;
    justify-content: center;
}

.lw-loginSimpleScreen__scroll {
    flex: 1;
}

.lw-loginSimpleScreen__layout {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: v.$space-4;
}

.lw-loginSimpleScreen__main {
    flex: 1;
}