.lw-topCenteredLogo {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.lw-topCenteredLogo__cornerLogo {
    position: absolute;
    top: 0;
    inset-inline-start: 0.75rem;
}

.lw-topCenteredLogo__logoImage {
    width: 3.5rem;
    height: 3.5rem;
}

.lw-topCenteredLogo__title {
    margin-top: 5rem !important;
    text-align: center !important;
    width: 100%;
    align-self: center !important;
}
