@use '../../styles/variables' as v;

.lw-mainScreen__chartWrap {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.lw-mainScreen__comparisonCard {
    inline-size: 100%;
}

.lw-mainScreen__cards {
    flex-direction: column;
    flex: 1;
}

.lw-mainScreen__row {
    flex-direction: row;
}

.lw-mainScreen__row--wrap {
    flex-wrap: wrap;
}
