.lw-textButtonWithTwoOptionalIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lw-textButtonWithTwoOptionalIcons__inner {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
}
