@use '../../styles/variables' as v;

.lw-simpleText {
  margin: 0;
  font-family: inherit;
  line-height: var(--lw-simpleText-lineHeight, inherit);
  direction: inherit;
  text-align: start;

  font-size: var(--lw-simpleText-size, 1rem);
  font-weight: var(--lw-simpleText-weight, 400);
  color: var(--lw-simpleText-color, var(--lw-color-text));
}
