@use '../../styles/variables' as v;

@keyframes lw-dotPulse {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.lw-simpleLoader {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--lw-color-transparent);
  z-index: 1000;
}

.lw-simpleLoader__dot {
  width: 0.625rem; /* 10px */
  height: 0.625rem; /* 10px */
  background-color: var(--lw-color-primary);
  border-radius: 9999px;
  margin-inline: 0.375rem; /* 6px */
  opacity: 0;
  animation: lw-dotPulse 1.8s infinite cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}

.lw-simpleLoader__dot--1 {
  animation-delay: 0s;
}

.lw-simpleLoader__dot--2 {
  animation-delay: 0.3s;
}

.lw-simpleLoader__dot--3 {
  animation-delay: 0.6s;
}
