@use '../../styles/variables' as v;

.lw-simplePopUp__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(45, 55, 72, 0.75);
    backdrop-filter: blur(0.25rem);
    /* 4px */
    align-items: center;
    justify-content: center;
    z-index: 20000;
}

.lw-simplePopUp__container {
    background-color: var(--lw-color-white);
    border-radius: 1rem;
    /* 16px */
    box-shadow: 0 1.25rem 1.5625rem -0.3125rem rgba(0, 0, 0, 0.1),
        0 0.625rem 0.625rem -0.3125rem rgba(0, 0, 0, 0.04);

    padding: 2rem;
    /* 32px */
    width: 90%;
    max-width: 37.5rem;
    /* 600px */
    max-height: 85vh;
    overflow-y: auto;

    flex-direction: column;
    align-items: center;

    border: 0.0625rem solid rgba(226, 232, 240, 0.8);
}

.lw-simplePopUp__close {
    align-self: flex-start;
    margin-bottom: 0.5rem;
    /* 8px */
}

.lw-simplePopUp__content {
    width: 100%;
    min-inline-size: 0;
    margin-top: v.$space-2;
}