.lw-taggedCasesScreen__row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
}

.lw-taggedCasesScreen__search {
    margin: 0.75rem 0;
    margin-inline-start: 1.25rem;
    max-width: 31.25rem;
}

.lw-taggedCasesScreen__choose {
    margin: 0.75rem 0.75rem;
    flex: 0 1 auto;
    min-width: 6.25rem;
}

.lw-taggedCasesScreen__footer {
    display: flex;
    justify-content: center;
}

.lw-taggedCasesScreen__pinButton {
    margin: 0.5rem 0;
    align-self: center;
}