@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

.lw-taggedCasesScreen__topRow {
    @include m.row(v.$space-3, wrap);
    max-width: 100%;
    margin: 1rem 1rem 0.5rem;
}

.lw-taggedCasesScreen__filtersRow {
    @include m.row(v.$space-3, wrap);
    max-width: 100%;
    margin: 0 1rem 1rem;
}

.lw-taggedCasesScreen__search {
    flex: 1 1 14rem;
    min-inline-size: 0;
}

.lw-taggedCasesScreen__clientFilter {
    flex: 1 1 14rem;
    min-inline-size: 0;
}

.lw-taggedCasesScreen__choose {
    flex: 1 1 8.5rem;
    min-inline-size: 0;
}

.lw-taggedCasesScreen__footer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.lw-taggedCasesScreen__footer>.lw-textButtonWithTwoOptionalIcons {
    margin: 0.5rem 0;
    align-self: center;
    min-block-size: 2.75rem;
}