@use '../../../styles/variables' as v;

.lw-hoverContainer {
  position: fixed;
  top: var(--lw-hoverContainer-top, 0px);
  left: var(--lw-hoverContainer-left, 0px);

  min-width: 7.5rem;
  max-height: 25rem;
  overflow: hidden;

  border: 0.0625rem solid rgba(221, 221, 221, 1);
  background-color: var(--lw-color-white);
  border-radius: 1.5625rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);

  z-index: 1002;
}

.lw-hoverContainer__optionText {
  text-align: center;
}

.lw-hoverContainer__scroll {
  max-height: 25rem;
}

.lw-hoverContainer__loading {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}

.lw-hoverContainer__list {
  flex-direction: column;
}

.lw-hoverContainer__option {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  cursor: pointer;
  border-bottom: 0.0625rem solid rgba(221, 221, 221, 1);
}

.lw-hoverContainer__noResults {
  width: 100%;
  padding: 0.75rem;
  justify-content: center;
  text-align: center;
}