.lw-progressBar {
  width: 100%;
}

.lw-progressBar__labelRow {
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 1.25rem;
}

.lw-progressBar__bar {
  position: relative;
  height: 0.625rem;
  background-color: var(--lw-color-disabled);
  border-radius: 0.3125rem;
  overflow: visible;
}

.lw-progressBar__fill {
  height: 100%;
  width: var(--lw-progressBar-percent, 0%);
  background-color: var(--lw-color-primary-highlighted);
  transition: width 0.4s ease;
  border-radius: 0.3125rem;
  position: relative;
}

.lw-progressBar__tooltip {
  position: absolute;
  top: -0.625rem;
  left: var(--lw-progressBar-percent, 0%);
  transform: var(--lw-progressBar-tooltipTransform, translateX(-50%));
  opacity: var(--lw-progressBar-tooltipOpacity, 0);

  background-color: var(--lw-color-text);
  color: var(--lw-color-white);
  padding: 0.5rem 0.25rem;
  border-radius: 625rem;
  transition: left 0.4s ease, transform 0.4s ease;
}
