@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

.lw-allCasesScreen__row {
    @include m.row(v.$space-3, wrap);
    max-width: 100%;
    margin: 1rem;
}

.lw-allCasesScreen__search {
    flex: 1 1 1 10rem;
    min-inline-size: 14rem;
    max-inline-size: 31.25rem;
}

.lw-allCasesScreen__choose {
    flex: 0 0 auto;
    min-inline-size: 8.5rem;
}

.lw-allCasesScreen__footer {
    display: flex;
    justify-content: center;
    align-self: center;
}

.lw-allCasesScreen__addButton {
    margin: 0.5rem 0;
    align-self: center;
}