.lw-allCasesScreen__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.lw-allCasesScreen__search {
    margin-top: 0.75rem;
    max-width: 31.25rem;
}

.lw-allCasesScreen__choose {
    margin: 0.75rem 0.75rem;
    flex: 0 1 auto;
}

.lw-allCasesScreen__choose--openClose {
    margin: 0.75rem 0;
}

.lw-allCasesScreen__footer {
    display: flex;
    justify-content: center;
}

.lw-allCasesScreen__addButton {
    margin: 0.5rem 0;
    align-self: center;
}