.lw-allCasesScreen__row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.lw-allCasesScreen__search {
    margin-top: 12px;
    max-width: 500px;
}

.lw-allCasesScreen__choose {
    margin: 12px 12px;
    flex: 0 1 auto;
}

.lw-allCasesScreen__choose--openClose {
    margin: 12px 0;
}

.lw-allCasesScreen__footer {
    display: flex;
    justify-content: center;
}

.lw-allCasesScreen__addButton {
    margin: 8px 0;
    align-self: center;
}