@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.lw-clientMainScreen__chartWrap {
    flex: 1;
    min-inline-size: 0;
    max-inline-size: 100%;
    align-items: center;
    justify-content: center;
}

.lw-clientMainScreen__comparisonCard {
    inline-size: 100%;
}

.lw-clientMainScreen__cards {
    flex-direction: column;
    flex: 1;
    min-inline-size: 0;
    max-inline-size: 100%;
}

.lw-clientMainScreen__row {
    @include m.row(v.$space-4);
    flex-wrap: wrap;
}