.lw-allMangerScreen__row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
}

.lw-allMangerScreen__search {
    margin: 12px 0;
    margin-left: 20px;
    max-width: 500px;
}

.lw-allMangerScreen__footer {
    display: flex;
    justify-content: center;
}

.lw-allMangerScreen__addButton {
    margin: 8px 0;
    align-self: center;
}