@use '../../styles/mixins' as m;

.lw-allMangerScreen__row {
    @include m.row;
    max-width: 100%;
    overflow: hidden;
}

.lw-allMangerScreen__search {
    flex: 1 1 20rem;
    min-inline-size: 14rem;
    max-inline-size: 31.25rem;
}

.lw-allMangerScreen__footer {
    display: flex;
    justify-content: center;
}

.lw-allMangerScreen__addButton {
    margin: 0.5rem 0;
    align-self: center;
}