.lw-allMangerScreen__row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
}

.lw-allMangerScreen__search {
    margin: 0.75rem 0;
    margin-inline-start: 1.25rem;
    max-width: 31.25rem;
}

.lw-allMangerScreen__footer {
    display: flex;
    justify-content: center;
}

.lw-allMangerScreen__addButton {
    margin: 0.5rem 0;
    align-self: center;
}