.lw-topAndRightNavBar {
    display: flex;
    width: 100%;
}

.lw-topAndRightNavBar__sidebar {
    position: fixed;
    width: 15.625rem;
    height: 100vh;
    inset-inline-end: 0;
    background-color: var(--lw-color-text);
    display: flex;
    flex-direction: column;
    padding-top: 1.25rem;
    z-index: 11111;
}

.lw-topAndRightNavBar__logoRow {
    display: flex;
    justify-content: center;
}

.lw-topAndRightNavBar__logoBtn {
    max-height: 3.75rem;
    align-self: center;
}

.lw-topAndRightNavBar__separatorWrap {
    margin: 1.25rem 0;
}

.lw-topAndRightNavBar__navList {
    flex-direction: column;
    flex: 1;
}

.lw-topAndRightNavBar__logoutWrap {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
    align-self: center;
}

.lw-topAndRightNavBar__content {
    flex: 1;
}