@use '../../../styles/variables' as v;

.lw-adminMenuItem {
    flex-direction: column;
}

.lw-adminMenuItem__row {
    flex-direction: row;
    width: 100%;
}

.lw-adminMenuItem__cell {
    flex: 1;
    padding-inline: 0.375rem;
    min-width: 0;
}

@media (max-width: v.$bp-md) {
    .lw-adminMenuItem__cell--email {
        display: none;
    }
}