@use '../../../styles/variables' as v;

.lw-clientMenuItem {
    flex-direction: column;
}

.lw-clientMenuItem__row {
    flex-direction: row;
    width: 100%;
}

.lw-clientMenuItem__cell {
    flex: 1;
    padding-inline: 0.375rem;
    min-width: 0;
}

@media (max-width: v.$bp-md) {
    .lw-clientMenuItem__cell--email {
        display: none;
    }
}