@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.lw-clientMenuItem {
    flex-direction: column;
}

.lw-clientMenuItem__row {
    @include m.row(v.$space-2);
    width: 100%;
    min-inline-size: 0;
    overflow: hidden;
}

.lw-clientMenuItem__cell {
    flex: 1;
    padding-inline: 0.375rem;
    min-inline-size: 0;
    overflow: hidden;
    text-overflow: ellipsis;

    >* {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
    }
}

@media (max-width: v.$bp-md) {
    .lw-clientMenuItem__cell--email {
        display: none;
    }

    .lw-clientMenuItem__cell--phone {
        display: none;
    }
}