.lw-updatesMenuItem {
  display: flex;
  min-height: 3rem;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.lw-updatesMenuItem__text {
  flex: 1;
  min-width: 0;
}

.lw-updatesMenuItem__icon {
  transform: rotate(90deg);
}
