@use '../../../styles/variables' as v;

.lw-allCasesTypeCard {
  flex-direction: column;
}

.lw-allCasesTypeCard__list {
  flex-direction: column;
  min-inline-size: 0;
}

.lw-allCasesTypeCard__item {
  flex-direction: column;
  min-inline-size: 0;
}
