@use '../../styles/variables' as v;

.lw-plansPricingScreen__scroll {
    padding: v.$space-4;
}

.lw-plansPricingScreen__title {
    margin: 0 0 v.$space-2 0;
}

.lw-plansPricingScreen__subtitle {
    opacity: 0.85;
    margin: 0 0 v.$space-3 0;
}

.lw-plansPricingScreen__sectionTitle {
    margin: v.$space-5 0 v.$space-2 0;
}

.lw-plansPricingScreen__sectionTitle--spaced {
    margin-top: v.$space-6;
}

.lw-plansPricingScreen__sectionSubtitle {
    opacity: 0.85;
    margin: 0 0 v.$space-3 0;
}

.lw-plansPricingScreen__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: v.$space-3;
}

.lw-plansPricingScreen__commercialGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: v.$space-3;
    margin-top: v.$space-2;
}

.lw-plansPricingScreen__card {
    flex-direction: column;
    justify-content: flex-start;
}

.lw-plansPricingScreen__card--current {
    outline: 2px solid rgba(76, 175, 80, 0.55);
}

.lw-plansPricingScreen__planKey {
    opacity: 0.8;
    margin-top: v.$space-1;
}

.lw-plansPricingScreen__currentBadge {
    margin-top: v.$space-2;
    font-weight: 700;
}

.lw-plansPricingScreen__divider {
    --lw-separator-margin-block: #{v.$space-3};
}

.lw-plansPricingScreen__row {
    display: flex;
    gap: v.$space-4;
    margin: v.$space-2 0;
}

.lw-plansPricingScreen__label {
    opacity: 0.8;
}

.lw-plansPricingScreen__value {
    font-weight: 600;
    text-align: end;
}

.lw-plansPricingScreen__planFooter {
    opacity: 0.8;
    margin-top: v.$space-3;
}

.lw-plansPricingScreen__commercialPrice {
    margin-top: v.$space-2;
    font-weight: 700;
}

.lw-plansPricingScreen__commercialDescription {
    opacity: 0.9;
    margin-top: v.$space-2;
}

.lw-plansPricingScreen__commercialNote {
    opacity: 0.8;
    margin-top: v.$space-3;
}

.lw-plansPricingScreen__bullets {
    margin: v.$space-3 0 0 0;
    padding-inline-start: v.$space-4;
}

.lw-plansPricingScreen__bullets li {
    margin: v.$space-2 0;
}